.subline[ind="0"]{margin-left:0ch;}
.subline[ind="1"]{margin-left:1ch;}
.subline[ind="2"]{margin-left:2ch;}
.subline[ind="3"]{margin-left:3ch;}
.subline[ind="4"]{margin-left:4ch;}
.subline[ind="5"]{margin-left:5ch;}
.subline[ind="6"]{margin-left:6ch;}
.subline[ind="7"]{margin-left:7ch;}
.subline[ind="8"]{margin-left:8ch;}
.subline[ind="9"]{margin-left:9ch;}

.post {
  margin-bottom: 10px;
}
