<!DOCTYPE html>
<html lang="en">
  <head>
    <title> {{ content["title"] }} </title>
    <link href={{ url_for('static', filename='css/style.css') }} rel="stylesheet">
    <link href={{ url_for('static', filename='css/post.css') }} rel="stylesheet">
    <link href={{ url_for('static', filename='css/header.css') }} rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <a href="/">Haxxor News</a>
      | <a href="/ask">Ask</a>
      | <a href="/newest">New</a>
      | <a href="/front">Past</a>
      | <a href="/show">Show</a>
    </div>
    <div class="content">
      <div id="comments">
      {% for comment in content %}
        <div class="comment" style="margin-left: calc(var(--indentStep) * {{ comment["indent"] }});">
          <div class="comhead">
            <a class="user" href="{{ comment["user_href"] }}">
              {{ comment["user"] }}
            </a>
            <span class="date">
              {{ comment["date"] }}
            </span>
          </div>
          <div class="commentText">
            {{ comment["text"]|safe }}
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </body>
</html>
